/* Página Livros */
* {
  margin: 0%;
  padding: 0%;
}


.alunos-lista {
  display: grid;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}


.aluno-item {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 720px;
  text-align: center;
  position: relative;
}

.name-hidden {
  display: flex;
  width: 520px;
  overflow: hidden;
}

.aluno-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.aluno-item a {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 4px 6px;
  color: #FF6347;
  font-weight: bold;
  text-decoration: none;
}

.aluno-item a:hover {
  text-decoration: underline;
}