#Fichamento{
    width: 700px;
    height: 600px;
    border: none;
    margin-top: 30px;
    resize: none;
    border-radius: 8px;
}

.tituloficha{
    display: flex;
    justify-content: center;
    margin: 32px 0px;
}