.caixa {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #666;
    text-align: center;
    line-height: 1.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: 8px;
    background-color: #FFF;


  }