:root {
  --color-red: #e63636;
}

.link {
  display: flex;
  justify-content: center;
  gap: 4px;
  font-size: 15px;
}

.link a {
  color: blue;
  transition: .2s;
}

.link a:hover {
  color: rgb(0, 0, 174);
}
